
button.buscar{
	text-decoration: none;
    padding: 5px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 800;
    font-size: 14px;
    color: white;
    border: none;
	background-color: #666666;
}

div.logo{
  font-weight: bold;
  font-size: 1.2em;
}

span { 
  font-size: 2em;
  font-weight: bold;
}

span b { 
  font-size: 14px;
  font-weight: bold;

 }

img {
  width: 100%;
  height: auto;
}

b.visitas{
  color: #6D1B93;
  font-size: 22px;
}

b.ventas{
  color: #255B87;
  font-size: 22px;

}

b.comentarios{
  color: #3FB166;
  font-size: 22px;

}

b.ganancias{
  color: red;
  font-size: 22px;

}

div.iconos{
  background-color: #CCCCCC;
  margin: 0px  5px;
  width: 24%;
  height: auto;

}

div.letra{
  margin: 30px 15px 0;
}

* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  width: 20%;
  height: auto;
  background-color: #CCCCCC;
  padding: 10px;
  margin: 0 auto;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  height: 35px;
  border: none;
  color: #CCCCCC;
  margin-bottom: 15px;
}

.icon {
  padding: 5px;
  background: #CCCCCC;
  color: black;
  min-width: 45px;
  min-height: 35px;
  text-align: center;
}

.input-field {
  width: 40%;
  background: #CCCCCC;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  border: none;
  /*border: 100px;*/
}

/*.input-field:focus {
  border: 2px solid dodgerblue;
}*/

.input-group-prepend span{
width: 90px;
height: 100px;
margin: 0px 0px 10px;
background-color: #CCCCCC;
color: #9D9D9B;
border:0px !important;
}

.left {
  background-color:#CCCCCC;
  padding: 10px;
  float:left;
  width:20%; /* The width is 20%, by default */
}

.main1 {
  background-color:#CCCCCC;
  padding: 10px;
  float:left;
  width:30%; /* The width is 60%, by default */
}
.main2 {
  background-color:#CCCCCC;
  padding: 10px;
  float:left;
  width:30%; /* The width is 60%, by default */
}

.right {
  background-color:#CCCCCC;
  padding: 10px;
  float:left;
  width:20%; /* The width is 20%, by default */
}

.graficos{
  background-color: #CCCCCC;
  padding: 40px;
  width: 100%;
  height: 100%;
  align-content: center;
  margin: 0px 0px 0px;
}
img.grafico1{
  background-color: #CCCCCC;
  padding: 20px;
  width: 100%;
  align-content: center;
  margin: 0 0px 0;
}

img.grafico2{
  background-color: #CCCCCC;
  padding: 15px;
  width: 60%;
  align-content: center;
  margin: 0 0px 0;
}

img.lineal{
   background-color: #CCCCCC;
  padding: 15px;
  width: 75%;
  align-content: right;
}

div.graph{
  background-color: #CCCCCC;
  margin: 0px  6px;
  width: 48%;
  height: auto;
  padding: 0px;
}
/*
img.logoUsr {
  width: 35%;
  border-radius: 40%;
  position:absolute;
  left: 5px;
  top: 10px;
  z-index:1;
}*/

/*.arriba {
  background-color:#CCCCCC;
  padding: 10px;
  float:left;
  width:20%; /* The width is 20%, by default 
}*/

/*.abajo {
  background-color:#CCCCCC;
  padding: 10px;
  float:left;
  width:20%; /* The width is 20%, by default 
}*/

.izq {
  background-color:#CCCCCC;
  padding: 10px;
  float:left;
  width:50%; /* The width is 20%, by default */ 
}

.der {
  background-color:#CCCCCC;
  padding: 10px;
  float:left;
  width:50%; /* The width is 20%, by default */
}

.footer{
  background-color: #CCCCCC;
  margin: 0;
}

/*@media screen and (max-width:800px) {
  .arriba, .abajo {
    width:100%; 
  }*/
}

@media screen and (max-width:600px) {
  .izq, .der {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:600px) {
  .left, .main1, .main2, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
/*

#site-navigation .menu > ul > li:hover > a:before, 
#site-navigation .menu > ul > li.current_page_item > a:before, 
#site-navigation .menu > ul > li.current-menu-item > a:before, 
#site-navigation .menu > ul > li.current_page_ancestor > a:before, 
#site-navigation .menu > ul > li.current-menu-ancestor > a:before{ text-decoration: none; 
content: ""; 
height: 5px; 
left: 0; 
position: absolute; 
top: -5px; 
width: 100%; 
}
.logo-center #site-navigation .menu > ul > li:hover > a:before, .logo-center #site-navigation .menu > ul > li.current_page_item > a:before, .logo-center #site-navigation .menu > ul > li.current_page_ancestor > a:before, .logo-center #site-navigation .menu > ul > li.current-menu-ancestor > a:before{ display: none; }
#site-navigation .menu ul ul{ background: none repeat scroll 0 0 #FFF; border-bottom: 2px solid #d31716; border-top: 2px solid #d31716; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); display: none; left: 0; position: absolute; top: 100%; transition: all 0.3s ease-in-out 0s; z-index: 99999; font-family: 'Open Sans Bold', sans-serif; }
#site-navigation .menu li:hover > ul{ display: block; }
#site-navigation .menu ul ul li{ border-bottom: 2px solid #DDD; display: block; font-size: 13px; line-height: 20px; margin: 0 !important; text-align: left; }
#site-navigation .menu ul ul li:last-child{ border-bottom: none; }
#site-navigation .menu ul ul li a{ color: #666; display: block; font-weight: 300; min-width: 140px; padding: 10px 15px; position: relative; text-decoration: none; }
#site-navigation .menu ul ul li > a:hover:before, #site-navigation .menu ul ul li.current_page_item > a:before{ background: #F0563D; content: ""; height: 2px; left: 0; position: absolute; top: -2px; width: 100%; }
#site-navigation .menu ul ul li > a:hover, #site-navigation .menu ul ul li.current_page_item > a{ color: #d31716; }
#site-navigation .menu ul ul ul{ top: -2px; left: 100%; }
#site-navigation .menu ul ul ul{
    right: 100%;
    left: auto;
}

/*-With Sub pages-*//*
#site-navigation .menu > ul > li.menu-item-has-children > a:before{ color: #FFF; content: '\f107'; font-family: FontAwesome; font-size: 10px; vertical-align: 1px; }
#site-navigation .menu > ul > li.menu-item-has-children > a::after{ content: '\f107'; font-family: FontAwesome; font-size: 14px; margin-left: 7px; vertical-align: 1px; }
#site-navigation .menu > ul > li > ul > li.menu-item-has-children > a::after{ color: rgb(34, 34, 34); content: '\f105'; font-family: FontAwesome; font-size: 10px; vertical-align: 1px; float: right; }

 */

/* barra lateral */
/*
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#CCCCCC;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}*/
